[submodule "Analyses/JS Support"]
	path = Analyses/JS Support
	url = https://github.com/wikimedia-research/Discovery-Portal-Adhoc-JavaScriptSupport
[submodule "Analyses/Wikimedia vs Wikipedia Portals"]
	path = Analyses/Wikimedia vs Wikipedia Portals
	url = https://github.com/wikimedia-research/Discovery-Portal-Adhoc-WikimediaPortal
[submodule "Experiments/Language Detect and Primary Link AB Test"]
	path = Experiments/Language Detect and Primary Link AB Test
	url = https://github.com/wikimedia-research/Discovery-Portal-Test-PrimaryLinkLangDetect
[submodule "Experiments/Secondary Links Collapse AB Test"]
	path = Experiments/Secondary Links Collapse AB Test
	url = https://github.com/wikimedia-research/Discovery-Portal-Test-SecondaryLinks
