body {
  padding-bottom: 0.5in;
}

#header {
  text-align: center;
}

#content {
  background-color: white !important;
}

#table-of-contents h2 a {
  font-size: larger;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gill Sans", "Open Sans", sans-serif;
  font-weight: normal;
  color: black;
}

p.author a {
  color: #d64a70;
}

.caption {
  font-style: normal !important;
}

div.caption, p.caption {
  font-family: "Gill Sans", "Open Sans", sans-serif;
  font-size: small;
  padding: 0 10%;
  text-align: left;
}

div.caption {
  margin-bottom: 0.3in;
}

ol.caption, ul.caption {
  font-family: "Gill Sans", "Open Sans", sans-serif;
  font-size: small;
  text-align: left;
  margin-bottom: 0 !important;
}

ol.caption li, ul.caption li {
  margin-left: 0.25in;
  margin-bottom: 0;
}

table {
  width: 100%;
}

.dygraph-legend, .dygraph-label {
  font-family: "Gill Sans", "Open Sans", sans-serif;
}

div.figure {
  text-align: center;
  margin: 0.25in 0;
}

div#abstract {
  padding: 0.1in 1in;
  font-size: small;
  text-align: center;
}

div#abstract h2 {
  font-size: medium;
}

div#abstract p {
  font-size: small;
  text-align: left;
  margin: 0;
  text-indent: 0.25in;
}

.figure-left {
  float: left;
  margin-right: 0.25in;
}

.figure-right {
  float: right;
  margin-left: 0.25in;
}
